go 1.25.8

use (
	./pkg/auth
	./pkg/cors
	./pkg/errors
	./pkg/events
	./pkg/logger
	./pkg/outbox
	./pkg/pagination
	./pkg/testdb
	./services/catalog
	./services/example
	./services/inventory
	./services/merchants
)
